#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.row {
  @apply flex flex-row mb-4;
  @apply space-x-4;
}

.row > .col {
  @apply flex-1;
}

input {
  @apply w-full p-2 border border-base-300 rounded-lg bg-base-100 !important;
}

input:focus {
  @apply border-primary outline-none !important;
}

input:hover {
  @apply border-base-200 !important;

}